.app__clear {
    background-color: #F94144;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    margin: 5px;
    padding: 5px;
}

.app__clear:hover {
    opacity: 0.8;
}

.app__container {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.app__title {
    text-align: center;
}

.app__topbar {
    align-items: center;
    background-color: #FFF;
    display: flex;
    flex-flow: column nowrap;
    height: fit-content;
    justify-content: center;
    padding: 5px;
    position: fixed;
    top: 0;
    width: 100%;
}

.app__subtitle {
    margin-top: 100px;
    padding: 5px;
}
