.beers_display__pages {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding-bottom: 10px;
    width: 100%;
}

.page__button {
    background-color: #2EC4B6;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    font-size: 0.9rem;
    margin: 5px;
    min-width: 8rem;
    padding: 5px;
    text-align: center;
}

.page__button:hover {
    opacity: 0.8;
}

.profile__dialog {
    border: none;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #888888;
    left: 10%;
    max-height: 80%;
    overflow: auto;
    overscroll-behavior: contain;
    position: fixed;
    top: 10%;
    width: 80%;
}

@media screen and (min-width: 767px) {
    .profile__dialog {
        top: 15%;
    }
}

.profile__dialog::backdrop {
    background-color: #dbe8e788;
}