.beers_display__container {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.profile__dialog {
    border: none;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #888888;
    left: 10%;
    max-height: 80%;
    overflow: auto;
    overscroll-behavior: contain;
    position: fixed;
    top: 10%;
    width: 80%;
}

@media screen and (min-width: 767px) {
    .profile__dialog {
        max-height: 50%;
        top: 25%;
    }
}

.profile__dialog::backdrop {
    background-color: #dbe8e788;
}