.attribute__name {
    color: #888888;
    font-style: italic;
}

.default__texts {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.pairings__list {
    margin: 1rem;
}

.profile__attribute {
    margin: 0.5rem;
}

.profile__attribute-short {
    text-align: center;
}

.profile__container {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 10px;
}

.profile__default {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.profile__close {
    align-items: center;
    background-color: #F94144;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    display: flex;
    margin: 5px;
    padding: 5px;
}

.profile__horizontal {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.profile_image {
    aspect-ratio: auto;
    height: 300px;
}

.profile__name {
    font-size: 2rem;
    text-align: center;
    margin: 0.5rem 0;
}

.profile__pairings-btn {
    align-items: center;
    background-color: #2EC4B6;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    display: flex;
    font-size: 0.9rem;
    margin: 5px;
    padding: 5px;
}

.profile__tagline {
    font-style: italic;
    margin: 0.5rem 0;
}

@media screen and (min-width: 767px) {
    .default__texts {
        min-height: 300px;
        width: 50%;
    }

    .profile__default {
        flex-flow: row nowrap;
        justify-content: space-evenly;
    }
}

.profile__close:focus,
.profile__pairings-btn:focus {
    border: 2px solid #3a86ff;
}

.profile__close:hover,
.profile__pairings-btn:hover {
    opacity: 0.8;
}
